body {
  overflow: hidden;
}
.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }

  .admin-content {
    width: 100%;
    .admin-header {
      height: 40px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 0;

      .left-side {
        cursor: pointer;
        font-size: 1.4rem;
        color: yellowgreen;
      }

      .right-side {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }
    .admin-body {
      height: calc(100vh - 40px);
      border: 1px solid burlywood;
    }
  }
}
