.login-container {
  .header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;

    .btn-login-header {
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      outline: none;
      margin: 0 30px 0 15px;
      width: 81px;
      transition: all ease-in 0.2s;
      &:hover {
        background-color: #ccc;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 1.8rem;
    padding: 20px;
    font-weight: 600;
  }
  .welcome {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .content {
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .email-label {
      }
      .input-form {
        margin-bottom: 15px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
      }
      .email-password {
      }
    }
    .footer-login {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .forgot-password {
      }
      .btn-login {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border-radius: 10px;
        color: #fff;
        background-color: #000;
        border: none;
        transition: all ease-in 0.2s;
        &:hover {
          background-color: #333;
        }
        &:disabled {
          background-color: #bbb;
          color: #000;
          cursor: no-drop;
          &:hover {
            background-color: #bbb;
          }
        }

        .loaderIcon {
          color: rgb(69, 142, 214);
          margin-right: 7px;
          top: 2px;
          animation: spin 1s infinite linear;
        }

        @keyframes spin {
          from {
            transform: scale(1) rotate(0deg);
          }
          to {
            transform: scale(1) rotate(360deg);
          }
        }
      }

      .btn-returnHome {
        cursor: pointer;
        .icon-home {
          margin-right: 10px;
        }
      }
    }
  }
}
