.login-container {
  .header {
    text-align: right;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-login-header {
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      outline: none;
      margin: 0 30px 0 15px;
      width: 81px;
      transition: all ease-in 0.2s;
      &:hover {
        background-color: #ccc;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 1.8rem;
    padding: 20px;
    font-weight: 600;
  }
  .welcome {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .content {
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .email-label {
      }
      .password-form {
        position: relative;
        .input-form {
          width: 100%;
          margin-bottom: 15px;
          height: 40px;
          border: 1px solid #ccc;
          border-radius: 10px;
          outline: none;
        }
        .icon-eye {
          top: 36px;
          right: 8px;
          position: absolute;
        }
      }

      .email-password {
      }
    }
    .footer-login {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .forgot-password {
      }
      .btn-login {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border-radius: 10px;
        color: #fff;
        background-color: #000;
        border: none;
        transition: all ease-in 0.2s;
        &:hover {
          background-color: #333;
        }
      }

      .btn-returnHome {
        cursor: pointer;
        .icon-home {
          margin-right: 10px;
        }
      }
    }
  }
}
