/* body {
    background-color:darkolivegreen;
    display: flex;
    height: auto;
}




.pc,
.ipad {
    color: #7fffd4;
    display:none;
    margin: auto;
    /* font: size 100px; ; */
/* }

@media screen and (min-width = 740) and (max-width = 1024) {
    .ipad{display: block;}
}

@media screen and (min-width = 1024) and (max-width = 1980) {
    .pc{display: block;}
} */


