.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 70%;

    .title {
      font-size: 24px;
      font-weight: 600;
    }
    .q-content {
      text-align: center;
    }
    .footer {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }
  }
  .right-content {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    .main-timer {
      text-align: center;
      padding-bottom: 35px;
      border-bottom: 1px solid #000;
      font-weight: 600;
      font-size: 20px;
      padding-top: 10px;
    }
    .main-question {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 15px;
      .question {
        border: 1px solid #ccc;
        border-radius: 999px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #fff;

        &:hover {
          color: #838080;
        }
        &.selected {
          color: red;
        }
        &.clicked {
          background-color: #ccc;
        }
      }
    }
  }
}
