.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 70%;

    .title {
      font-size: 24px;
      font-weight: 600;
    }
    .q-content {
      text-align: center;
    }
    .footer {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }
  }
  .right-content {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
}
