<div class="mt-4">

    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input" class="form-label">Enter key</label>
            <input type="text" name="q">
            <input type="text" class="form-control" name="q" id="search-input" placeholder="find...">
           
        </div>
        
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>